.flex-contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

img {
    width: 400px;
 }
 #thirdDiv { 
   height:600px;
   width:500px;
   background: beige;
   padding:50px;
   border: 2px solid black;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
 }
 #spanId{
   font-size: 18px;
   margin: 50px;
   text-align: center;
 }
body{
  background-image: url("fondobeige.webp");
}
.divClass{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
